.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &-words {
        font-size: 100%;
        z-index: 2;
        white-space: nowrap;
        position: absolute;
        left: 100%;
        animation: mymove 5s linear infinite;
    }
}
@keyframes mymove {
    from {
        left: 100%;
        transform: translateX(0);
    }
    to {
        left: 0;
        transform: translateX(-100%);
    }
}